body{background-color: blueviolet;}
#information{
    background-color: red;
    color: whitesmoke;
    border: 10px solid black;   
    font-size: 46px;
    margin-top: 40px;
}

#fiso {
    font-size: 250px;
        
}







